<br>
<div class="row">
    <div class="col-lg-12 col-sm-12">
        <button class="btn btn-success">New Recipie</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-lg-12 col-sm-12">
        <a href="#" class="list-group clearfix" *ngFor="let r of recipies">
            <div class="list-group-item">
                <div class="float-left">
                    <h4>{{r.name}}</h4>
                    <p>{{r.description}}</p>
                </div>
                <span class="float-right">
                    <img [src]="r.imagePath" alt="{{r.name}}" class="img-fluid" style="max-height: 50px;">
                </span>
            </div>

        </a>
        <app-recipe-item></app-recipe-item>
    </div>
</div>
